body {
     background:linear-gradient(
        to right, #110361, #971997
     );
     display: flex;
     flex-direction: column;
     align-items: center;
}
.container {
     display: flex;
     flex-direction: row;
     align-self: flex-start;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     color: white;
     padding-left: 5px;
     gap: 15px;
     cursor: pointer;
}
form {
     display: flex;
     flex-direction: row;
     align-self: center;
     justify-content:center;
     background:white;
     color: black;
     gap: 30px;
     margin-top: 60px0px;
     padding-top: 40px;
     padding-left: -10px;
     padding-bottom: 40px;
     width: 900px;
     height: auto;
     border-radius: 20px;
     box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.contact {
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: center;
}
.address {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 25px;
     font-weight: bold;
     font-size: 25px;
}
.email {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 25px;
     font-weight: bold;
     font-size: 25px;
}
.phone {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 25px;
     font-weight: bold;
     font-size: 25px;
}
.download {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 35px;
     font-weight: bold;
     font-size: 25px;
}
img:hover {
    background-color:rgb(241, 110, 106);
    transition: 0.5s;

}
iframe {
     border: 5 solid black;
     border-radius: 20px;
     
}